{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<link rel="stylesheet" href="{% static "vendor/bootstrap/bootstrap.css" %}">
</head>
<body>
	 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <a class="navbar-brand" href="#">
	  	<img style="height: 30px" src="{% static "img/logo.png" %}" alt="">
	  </a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="/" title="">Home</a>
			</li>
		
	    </ul>
	  </div>
	</nav>
	<div class="container">
		<h1>{{heading}}</h1>
		<p>{{subheading}}</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum deleniti harum quaerat sapiente odio in, molestiae molestias at minus quas ipsam ullam, inventore, doloremque accusantium debitis neque quibusdam. Veniam, est.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia harum, blanditiis voluptatibus sed porro eligendi amet veritatis! Ex necessitatibus ut cum, eaque quasi architecto. Quas necessitatibus minus voluptatum voluptate modi.</p>	
	</div>

	<script src="{% static "vendor/jquery/jquery-3.3.1.min.js" %}"></script>
	<script src="{% static "vendor/popper/popper.min.js" %}"></script>
	<script src="{% static "vendor/bootstrap/bootstrap.js" %}"></script>
</body>
</html>